footer {
    height: 40vh;
    background-color: var(--main-color-b);
    color: var(--main-color-white);
}

footer img {
    width: 180px;
    margin-top: 20px;
}


footer .text {
    width: 100%;
    height: 100%;
}

footer .text h2 {
    margin-top: 20px;
}

footer .text ul {
    margin-top: 10px;
}

footer .text ul li {
    font-size: 17px;
    margin-bottom: 10px;
    padding-left: 10px;
}