nav {
    background-color: #1d2228b8;
    position: sticky;
    z-index: 30;
    width: 100%;
    top: 0;
}

nav .navGation {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@media (max-width: 650px) {
    nav .navGation .mainNav {
        display: none;
    }

    nav .navGation .iconSetings {
        display: none;
    }
}

nav .navGation img {
    width: 180px;
}

@media (max-width: 650px) {
    nav .navGation img {
        width: 150px;
    }
}

nav .navGation .iconSetings {
    font-size: 20px;
    color: var(--main-color-white);
    cursor: pointer;
}

nav .mainNav {
    display: flex;
    flex: 0.4;
    justify-content: space-between;

}

nav .mainNav li {
    margin-left: 10px;
}

nav .mainNav li a {
    color: var(--main-color-white);

}

nav .menu {
    display: none;
    width: 100%;
    justify-content: flex-end;
}

@media (max-width: 650px) {
    nav .navGation .menu {
        display: flex;
    }
}

nav .menu .menuBars {
    font-size: 22px;
    cursor: pointer;
    color: var(--main-color-white);
}

nav .menu .mainMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 37px;
    background-color: var(--main-color-orange);
    z-index: 33;
}

nav .menu .mainMenu .sys {
    color: var(--main-color-white);
    font-weight: 600;
}

nav .menu svg {
    font-size: 22px;
    margin-right: 10px;
}

nav .menu ul li a {
    color: var(--main-color-white);
}

nav .menu ul li {
    margin: 10px;
}

.active {
    display: flex !important;
}