.pageTranding .contentSlaid .ulParent {
    scroll-behavior: smooth;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: scroll;
    background-color: #1D2228;
    /* box-shadow: inset 10px -20px 20px var(--main-color-orange); */
    position: relative;

}

.pageTranding .contentSlaid .ulParent::before {
    content: '';
    position: sticky;
    position: -webkit-sticky;
    background-color: #1d2228;
    left: 0;
    height: 100%;
    width: 40px;
    z-index: 5;
    box-shadow: 21px 0px 20px #1d2228;
}

.pageTranding .contentSlaid .ulParent::after {
    content: '';
    position: sticky;
    position: -webkit-sticky;
    background-color: #1d2228;
    right: 0;
    height: 100%;
    width: 40px;
    z-index: 5;
    box-shadow: -21px 0px 20px #1d2228;
}

/* .pageTranding .contentSlaid .ulParent::-webkit-scrollbar {
   
} */

.pageTranding .contentSlaid {
    position: relative;
}


.pageTranding .contentSlaid .spanOne {
    color: var(--main-color-white);
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background-color: #0000004f;
    padding: 20px 5px;
    border-radius: 10px;
    height: 20px;
    width: 30px;
    text-align: center;
    z-index: 6;
}

.pageTranding .contentSlaid .spanOne::after {
    content: '';
    background-color: transparent;
    position: absolute;
    left: 20px;
    top: 50%;

    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--main-color-white) transparent transparent var(--main-color-white);
    transform: rotateZ(-40deg) translateY(-50%);
}

.pageTranding .contentSlaid .spanTow {
    color: var(--main-color-white);
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: #0000004f;
    padding: 20px 5px;
    border-radius: 10px;
    height: 20px;
    width: 30px;
    text-align: center;
    z-index: 6;
}

.pageTranding .contentSlaid .spanTow::after {
    content: '';
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--main-color-white) transparent transparent var(--main-color-white);
    transform: rotateZ(132deg) translateX(-50%);
}

.allpageTranding nav {
    background-color: var(--main-color-b);
}

.pageTranding .contentSlaid .ulParent .frst {
    height: 350px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-left: 10px;
    transition-duration: 1s;
    margin: 0 40px;
    /* position: relative; */

}

@media (max-width :767px) {
    .pageTranding .contentSlaid .ulParent {
        height: calc(100vh - 44.2px);
    }

    .pageTranding .contentSlaid .ulParent .frst {
        width: 80%;
        margin: 0 20px;
        height: calc(100vh - 44.2px);
        transform: none;
    }

    .pageTranding .contentSlaid .ulParent .frst .text {
        display: none;

    }

    .pageTranding .contentSlaid .ulParent::after {
        display: none;
    }

    .pageTranding .contentSlaid .ulParent .frst:hover .text {
        display: block !important;
        width: 100%;
    }

    .pageTranding .contentSlaid .ulParent .text .ulChild {
        width: 100%;
    }

    .pageTranding .contentSlaid .ulParent::before {
        display: none;
    }
}

.pageTranding .contentSlaid .ulParent .frst:first-of-type {
    margin-left: 250px;
}

.pageTranding .contentSlaid .frst:last-of-type {
    margin-right: 250px;
}

.pageTranding .contentSlaid .ulParent .frst .text {
    width: 45%;
    height: 100%;
    background-color: #1d2228de;
    /* box-shadow: 44px 4px 22px #1d2228e0; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    z-index: 3;
}

.pageTranding .contentSlaid .ulChild {
    height: 100%;
    color: var(--main-color-white);

}

.pageTranding .contentSlaid .ulChild li {
    margin-left: 10px;

}

.pageTranding .contentSlaid .ulChild li:first-of-type {
    padding-top: 20px;

}

.pageTranding .contentSlaid ul li h1 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    /* height: 40px; */
    /* overflow: hidden; */
}

.pageTranding .contentSlaid ul li:nth-child(2) {
    text-align: center;
    margin-top: 5px;
}

.pageTranding .contentSlaid .ulChild li:nth-child(3) img {
    /* text-align: center; */
    width: 20px;
    margin-right: 5px;

}

.pageTranding .contentSlaid .ulChild li:nth-child(2) {
    margin-top: 15px;
}

.pageTranding .contentSlaid ul li:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
    margin-left: 17px;
}

.pageTranding .contentSlaid .ulChild li:nth-child(3) span:nth-of-type(1) {
    background-color: var(--main-color-white);
    color: var(--main-color-b);
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 40px;
}

.pageTranding .contentSlaid .ulChild li:nth-child(3) span:nth-of-type(2) {
    color: var(--main-color-orange);
}

.pageTranding .contentSlaid ul li:nth-child(4) h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;

}

.pageTranding .contentSlaid .ulChild li:nth-child(4) p {
    font-weight: 300;
    margin-bottom: 5px;
    height: 114px;
    overflow: hidden;
    text-align: start;
}

.pageTranding .contentSlaid .ulChild li:last-of-type a {

    color: var(--main-color-white);
    padding: 8px 20px;

    background-color: var(--main-color-orange);
    border-radius: 10px;
}

.pageTranding .contentSlaid .ulChild li:last-of-type {
    margin-top: 15px;
    text-align: start;


}

@media (max-width : 767px) {
    .ulChild li>h1 {
        font-size: 30px !important;
        margin-top: 30px;
    }

    .ulChild li:nth-child(2) {
        margin-top: 30px !important;
    }

    .ulChild li:nth-child(3) {
        justify-content: center !important;
        margin-top: 30px !important;
    }

    .ulChild li:nth-child(4) {
        margin-top: 50px !important;
        /* margin-bottom: 0px !important; */
        margin-left: 25px !important;
    }

    .ulChild li:nth-child(4) p {
        margin-top: 20px;
    }

    .ulChild li:last-of-type {
        margin-top: 80px !important;
        /* width: 50% !important; */
        display: flex;
        justify-content: center;



    }

    .ulChild li:last-of-type a {
        width: 50%;
        text-align: center;
    }

    .ulParent .frst:last-of-type {
        margin-right: 40px !important;
    }

    .ulParent .frst:first-of-type {
        margin-left: 40px !important;
    }
}

.activeCenter {
    margin-bottom: 30px;
    transform: scale(1.3);
    margin-bottom: 0;
    box-shadow: 0px 18px 25px black;
}

.activeRight {
    transform: scale(0.6);


}

.activeTest {
    transform: rotateY(295deg);
}

.activeTestTow {
    transform: rotateY(60deg) !important;
}

.activeGrab {
    cursor: grab;
}

.activeGrabbing {
    cursor: grabbing !important;
}

.pageTranding .contentSlaid .ulParent::-webkit-scrollbar {
    /* background-color: red; */
    height: 10px;
}



.pageTranding .contentSlaid .ulParent::-webkit-scrollbar-thumb {
    background-color: var(--main-color-orange);
    border-radius: 20px;
}



.allpageTranding .content {
    display: flex;
    /* height: 200vh; */
    justify-content: space-between;
    margin-bottom: 50px;
}

@media (max-width : 767px) {
    .allpageTranding .content {
        flex-direction: column;
    }

    .allpageTranding .container .sidBar {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .allpageTranding .container .sidBar .select {
        width: 100% !important;
    }

    .allpageTranding .content .presentMovies {
        width: 100% !important;
        justify-content: center;
    }

    .allpageTranding button {
        width: 100%;
        transform: translateX(50%);
        right: 55% !important;

    }
}

.allpageTranding .tag {
    margin-top: 20px;
    margin-bottom: 40px;
}

.allpageTranding .content .sidBar {
    width: 30%;
}

.allpageTranding .content .presentMovies {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
}



.allpageTranding .container {
    position: relative;
    height: 100%;
}

.allpageTranding button {
    width: 60%;
    background-color: var(--main-color-b);
    color: var(--main-color-white);
    right: 95px;
    position: absolute;
    bottom: -20px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border: none;

}

.allpageTranding .sidBar .select {
    background-color: var(--main-color-white);
    height: 200px;
    border-radius: 20px;
    width: 60%;
}

.allpageTranding .sidBar .select ul {
    /* margin-top: 50px; */
    padding-top: 20px;
    margin-left: 20px;
    width: 100%;

}

.allpageTranding .sidBar .select ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 20px;

}

.allpageTranding .sidBar .select ul li label {
    margin-left: 20px;
    font-weight: 400;
}

/* Ending allPageTranding */