.pagePopular .choices {

    background-color: var(--main-color-b);
    color: var(--main-color-white);
    width: 350px;
    margin-top: 25px;
    height: 30px;
    display: flex;
    border-radius: 10px;


}

.pagePopular .choices span {

    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.pagePopular .tag {
    margin-top: 50px;
}

.pagePopular .content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width : 767px) {
    .pagePopular .content {
        justify-content: center;
    }

    .pagePopular .choices {
        width: 100% !important;
    }
}

.allPopularPage nav {
    background-color: var(--main-color-b) !important;
}

.pagePopular button {
    width: 80%;
    background-color: var(--main-color-b);
    color: var(--main-color-white);
    /* right: 95px; */
    position: absolute;
    /* transform: translateX(50%); */
    left: 50px;
    bottom: -10px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border: none;


}