.search {
    background-color: var(--main-color-b);
    height: 6vh;
    width: 100%;

}

.search .container {
    height: 100%;
}

.search .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search .content input {
    /* max-width: 700px; */
    min-width: 500px;
    height: 25px;
    color: var(--main-color-white);
    background-color: transparent;
    outline: none;
    border: 2px solid var(--main-color-orange);
    padding: 5px;
    padding-left: 10px;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media (max-width: 767px) {
    .search {

        min-height: 8vh !important;
    }

    .search .content input {
        min-width: 100%;
        /* margin-top: 5px; */
    }



}

.search .content input::placeholder {
    color: var(--main-color-white);
}

.search .content a {
    color: var(--main-color-white);
    border: 2px solid var(--main-color-orange);
    background-color: var(--main-color-orange);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 25px;
    padding: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;



}