.showMovie {
    width: 100%;
    /* background-color: var(--main-color-white); */
    /* height: 200vh; */
}

/* .showMovie .images img:nth-child(1) {
    width: 100%;
} */

.showMovie .images {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.showMovie .images img {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -130px;
    border-radius: 20px;
    z-index: 20;
    width: 200px;


}



/* @media (min-width: 768px) {
    .showMovie .images img {
        width: 100%;

    }
} */

@media (max-width: 767px) {

    .showMovie .images img {
        width: 150px !important;
        bottom: -110px;
    }



}

.showMovie .content .text {
    width: 100%;
    margin-top: 150px;
    /* color: var(--main-color-b); */
}

.showMovie .content .text ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.showMovie .content .text ul li {
    margin-bottom: 10px;
}

.showMovie .content .text ul li:nth-child(1) {
    color: var(--main-color-orange);
    font-weight: 400;
    font-size: 14px;
}

.showMovie .content .text ul li:nth-child(1) span {
    color: var(--main-color-b);
    font-size: 14px;
}

.showMovie .content .text ul li:nth-child(2) {
    font-size: 25px;
    color: var(--main-color-b);
    font-weight: 700;
    text-align: center;
}

.showMovie .content .text ul li:nth-child(3) span {

    background-color: var(--main-color-b);
    color: var(--main-color-white);
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: 300;
    font-size: 13px;
}

.showMovie .content .text ul li:nth-child(3) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.showMovie .content .text ul li:nth-child(4) img {
    width: 30px;
    /* font-size: 18px; */

}

.showMovie .content .text ul li:nth-child(4) {
    color: yellow;
    font-size: 17px;
}


.showMovie .content .text ul li:nth-child(5) {
    background-color: var(--main-color-b);
    /* color: var(--main-color-w); */
    padding: 8px 40px;
    margin-top: 20px;
    border-radius: 10px;

}

.showMovie .content .text ul li:nth-child(5) a {
    color: var(--main-color-white);
}

.showMovie .text .story {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.showMovie .text .story h2 {
    color: var(--main-color-b);
    font-size: 20px;
    margin-bottom: 10px;
}

.showMovie .text .story p {
    color: var(--main-color-b);
    font-weight: 400;
}

/* TrailerShow */
.showMovie .content .trailer {
    background-color: var(--main-color-b);
    height: 45vh;
}

.showMovie .content .trailer .animation {
    height: 26vh;
}

.showMovie .content .trailer .tag {
    color: var(--main-color-white);
    text-align: center;
    padding-top: 10px;
}

.showMovie .content .trailer .tag span {
    color: var(--main-color-orange);

}

.showMovie .content .trailer .content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;


}

.showMovie .content .trailer .content .item {
    width: 304px;
    height: 200px;
    border: 2px solid var(--main-color-white);
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.showMovie .content .trailer .content .item iframe {
    width: 304px;
    height: 200px;
    outline: none;
    border: none;
    border-radius: 20px;
}


.showMovie .content::-webkit-scrollbar {

    height: 10px;

}

.showMovie .content::-webkit-scrollbar-thumb {
    background: var(--main-color-orange);
    border-radius: 10px;
}

/* Casts */
.showMovie .casts {
    margin: 90px 0;
}

.showMovie .content .casts .item img {
    width: 130px;
    border-radius: 10px;
}

.showMovie .content .casts .content {
    display: flex;
    overflow-x: scroll;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100%;
}

.showMovie .content .casts .content .item {
    margin-left: 30px;
}

/* .showMovie .content .casts .content .item span {
    display: block;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
}

.showMovie .casts h1 {
    font-size: 22px;
} */

/* recommendation */
.recommendation {
    margin-top: 60px;
}

.showMovie .recommendation .content {
    display: flex;
    margin-top: 20px;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.showMovie .content .recommendation .content .text {
    margin-top: 0;

}

/* .recommendation .content .cart {
    background-color: white;
} */

/* .showMovie .recommendation .content img {
    width: 150px;
    border-radius: 10px;
    /* height: 200px; */