header .slider {
    height: 100vh;
    position: relative;
    background-size: cover;
}

header .sliderimg .animation {
    height: 88.4vh;
}

header .slider .dark {
    width: 100%;
    background-color: #393d42b5;
    position: absolute;
    height: calc(100% - 44px);
    z-index: 1;
}

@media (max-width : 767px) {
    header .slider .dark {
        height: calc(100% - 38px);
    }
}

header .slider .container {
    height: calc(100% - 44px);
}

header .slider .text {
    z-index: 3;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color-white);
    margin-top: 130px;
}

header .slider .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

header .slider .text h1 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 700;
}

header .slider .text .kind {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .slider .text .kind span {
    margin-right: 60px;
    position: relative;
    padding-left: 10px;
    font-weight: 400;
}

@media (max-width : 767px) {

    header .slider .text .kind span {
        margin-right: 24px;
    }
}

header .slider .text .kind span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    z-index: 4;
    margin-left: 1px;
    margin-right: 10px;
    background-color: var(--main-color-white);
}

header .slider .text .kind span:nth-of-type(2) {
    color: var(--main-color-orange);
}

header .slider .text h1+span {
    border: 5px solid var(--main-color-orange);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color-orange);
    background-color: var(--main-color-b);
    margin-top: 10px;
}

header .slider .text .clickSlid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

header .slider .text .clickSlid span {
    background-color: var(--main-color-white);
    border: 2px solid var(--main-color-orange);
    width: 10px;
    cursor: pointer;
    height: 10px;
    border-radius: 10px;
    margin: 0 10px;
}

/* Active icons */
header .slider .text .clickSlid .activeIcons {

    background-color: var(--main-color-orange) !important;
}